@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
body{
  margin:0;
  line-height: 1.5;
  background-color: #f3f2f1;
 }
 body,
 input,
 textarea,
 button{
 	font-family: 'Raleway', sans-serif;
 	font-weight: 400;
 }

h1,
h2,
i {
  font-family: "Roboto", sans-serif;
  color: #103967;
}

 *{
 	box-sizing: border-box;
 	margin:0;
 }

 .container{
 	max-width: 1170px;
 	padding: 0vh 10vw;
  	margin: auto;

 }
 .row{
 	display: flex;
 	flex-wrap: wrap;
 }
 .align-items-center{
 	align-items: center;
 }
 .justify-content-between{
 	justify-content: space-between;
 }

 /* preloader */
 .preloader{
	position: fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background-color: #111111;
	z-index: 1099;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.6s ease;
 }
 .preloader.loaded{
 	visibility: hidden;
 	opacity:0;
 	z-index: -99;
 }
 .preloader .loader{
 	height: 30px;
 	width: 30px;
 	border:2px solid #FF9800;
 	border-right:2px solid transparent;
 	border-radius:50%;
 	animation: ani01 2s linear infinite;
 }

/* Header */
.header{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	z-index:99;
	transition: all 0.5s ease;
}
.header.fixed{
	background-color: #ffffff;
	position: fixed;
}
.header .brand-name{
	padding:0 15px;
}
.header .brand-name a{
	text-decoration: none;
	font-size: 30px;
	color:#ffffff;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing:2px;
	transition: all 0.5s ease;
}
.header.fixed .brand-name a{
	color:#000000;
}
.header .nav-toggle{
	width: 40px;
	height: 34px;
	border:1px solid #ffffff;
	border-radius: 3px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.5s ease;
	display: none;
}
.header.fixed .nav-toggle{
   border-color: #000000;
}
.header .nav-toggle span{
	height: 1px;
	display: block;
	width: 16px;
	background-color: #ffffff;
	position: relative;
	transition: all 0.5s ease;
}
.header .nav-toggle span:before,
.header .nav-toggle span:after{
	content: '';
	position: absolute;
	left:0;
	top:0;
	height: 1px;
	width: 100%;
	background-color: #ffffff;
	transition: all 0.5s ease;
}
.header.fixed .nav-toggle span,
.header.fixed .nav-toggle span:before,
.header.fixed .nav-toggle span:after{
  background-color: #000000;
}
.header .nav-toggle span:before{
	transform:translateY(-6px);
}
.header .nav-toggle span:after{
	transform:translateY(6px);
}
.header .nav{
	padding:0 15px;
}
.header .nav ul{
	list-style: none;
	margin:0;
	padding:0;
}
.header .nav ul li{
	display: inline-block;
	margin-left: 30px;
}
.header .nav ul li a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color:#ffffff;
	padding:25px 0;
	display: block;
	transition: all 0.5s ease;
}
.header.fixed .nav ul li a{
  color:#000000;
}
.header.fixed .nav ul li a:hover,
.header .nav ul li a:hover{
	color:#FF9800;
}

/* home section */
 .home-section{
 	min-height: 100vh;
 	background-image: url('../img/foto5.png');
 	background-size: cover;
 	background-position: center;
 	position: relative;
 	z-index: 1;
 	padding:0 15px;
 }
.home-section:before{
	content: '';
	position: absolute;
	box-sizing: border-box;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background-color: #000000;
	opacity: 0.7;
	z-index: -1;
}
.home-section .row{
	min-height: 100vh;
}
.home-section .home-content{
	/*background-color: red;*/
	flex:0 0 100%;
	max-width: 100%;
	text-align: center;
}
.home-section .home-content h4{
	font-size:20px;
	color:#ffffff;
	margin:0;
}
.home-section .home-content h1{
	font-size: 60px;
	margin:0;
	color:#ffffff;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 10px;
}

.home-section .scroll-down{
	position: absolute;
	left: 50%;
	bottom: 30px;
	height: 30px;
	width: 30px;
	margin-left: -15px;
	animation:scrollDown 2s ease infinite;
}

/* Detail Artikel */
.h1-detartikel {
  text-align: center;
  margin-bottom: 60px;
}

.container-detartikel {
  padding-top: 0;
  margin: 0;
}

.container-detartikel > .row > img {
  margin-top: -10px;
  margin-bottom: 60px;
  max-width: 100%;
}

.isi-detartikel > p {
  color: #6a6a6a;
}

.isi-detartikel > p:nth-of-type(2) {
  margin-bottom: 60px;
}
/* End of Detail Artikel */

.pagination-a,
.pagination-a:hover {
  text-decoration: none;
}

.pagination-a > i {
  color: #6a6a6a;
  align-self: center;
}

.pagination-a > p {
  color: #6a6a6a;
  line-height: 0;
  margin-top: 1.1em;
  align-self: center;
}

.pagination-a:nth-of-type(1) > p {
  margin-left: 0.5em;
  margin-right: 0.8em;
}

.pagination-a:nth-of-type(2) > p {
  margin-left: 0.8em;
  margin-right: 0.5em;
}

/* Contact Section */

.contact-section{
  padding : 80px 0 80px;	
}
.contact-section .contact-img{
	flex:0 0 100%;
	max-width: 100%;
	padding:0 15px;
}
}
.contact-section .section-title{
	text-align: center;
}
.contact-section .section-title h1{
	color:#ffffff;
}
.contact-section .section-title h1:before{
	background-color: #ffffff;
	left: 50%;
	margin-left: -40px;
}

.contact-section .contact-info{
 flex:0 0 100%;
 max-width: 100%;
}
.contact-section .contact-info .info-item{
	flex:0 0 33.33%;
	max-width: 33.33%;
	text-align: center;
	padding:0 15px;
	margin-bottom: 40px;
}
.contact-section .contact-info .info-item h5{
	font-size: 16px;
	font-weight: 600;
	margin:0;
}
.contact-section .contact-info .info-item p{
	font-size: 16px;
	margin:0;
	color:#555555;
}

.contact-section .social-links{
	flex:0 0 100%;
	max-width: 100%;
	padding:0 15px;
	text-align: center;
}
.contact-section .social-links a{
	text-decoration: none;
	display: inline-block;
	margin:0 5px;
}
.contact-section .social-links a img{
	width: 28px;
	display:block;
	transition: all 0.5s ease;
}
.contact-section .social-links a:hover img{
	opacity:0.5;
}
/* copyright */
.copyright{
	border-top:1px solid #c5c5c5;
	padding:25px 15px;
	text-align: center;
	color:#555555;
	font-size: 16px;
}



/*responsive*/


@media(min-width: 768px){
	.container {
    max-width: 100%;
  	}
    .stroke-text {
    font-size: 228px;
    }
	.header .nav{
		display: block!important;
	}
	/* Detail Artikel */
  	.isi-detartikel > p:nth-of-type(2) {
    margin-bottom: 100px;
    }
    /* End of Detail Artikel */
}
@media(max-width: 767px){
	.header{
		padding:7px 0;
		position: fixed;
	}
	.header .nav-toggle{
		display: flex;
		margin-right: 15px;
	}
	.header .nav{
		flex:0 0 100%;
		max-width: 100%;
		background-color: #ffffff;
		padding:0;
		display: none;
	}
	.header.fixed .nav{
      border-top:1px solid #cccccc;
	}
	.header .nav ul li{
		display: block;
		margin-right: 25px;
	}
	.header.fixed .nav ul li a,
	.header .nav ul li a{
		color:#000000;
		padding: 15px 0;
	}
	.home-section .home-content h1{
		font-size: 40px;
	}
}

@media (min-width: 992px) {

  .container {
    max-width: 100%;
  }

  .stroke-text {
    font-size: 288px;
  }

  /* Detail Artikel */
  .container-detartikel > .row > img {
    margin-top: -10px;
    margin-bottom: 60px;
    max-width: inherit;
  }
  /* End of Detail Artikel */

@media(max-width: 575px){
.home-section .home-content h1{
		font-size: 25px;
		letter-spacing: 5px;
	}
	.about-section .about-content .stats .stat-box {
      flex: 0 0 50%;
      max-width: 50%;
   }
   .contact-section .contact-info .info-item,
   .contact-section .contact-form .form .input-group.left, 
   .contact-section .contact-form .form .input-group.right,
   .work-section .work-item,
   .service-section .service-item{
    	flex: 0 0 100%;
        max-width: 100%;
    }
    .contact-section .contact-form{
    	padding: 0px 35px;
    }
    .contact-section .contact-form .form{
    	padding: 55px 5px;
    }
}



